body{
    background-color: wheat;
}
.titulo1{
    
}
.texto1{
    
}
.subtitulo1{
    
    
}
.contenido1{
    background-color: rgb(253, 237, 206);
}
.titulo2{
    
}
.contenido2{
    background-color: rgb(253, 237, 206);
}
.titulo3{
    
}
.contenido3{
    background-color: rgb(253, 237, 206);
}
.titulo4{
    
}
.contenido4{
    background-color: rgb(253, 237, 206);
    
}
.colortitulo{
    
    background-color: rgb(226, 188, 117);
}